@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

@font-face {
	font-family: finalFantasy;
	src: url(Runic.ttf);
}

@font-face {
	font-family: pirulen;
	src: url(Pirulen.ttf);
}

body {
	font-family: "Source Sans Pro";
}

/*Website framing*/

.screens {
	height: 100vh;
	width: 100%;
	border-top: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	margin: 0 -5px;
	background-color: white;
}

.gaps {
	height: 40vh;
	width: 100%;
	background-color: white;
	margin: 0 -5px;
}

.transitionLine {
	height: 40vh;
	width: 0.25px;
	border: 1px solid lightgray;
	margin: 0 auto;
	background-color: lightgray;
}

/*Title Screen*/

#screenOne {
	margin-top: -10px;
}

#headlineLogo {
	margin: 0 auto;
	width: 90%;
	margin-top: 30vh;
	text-align: center;
	font-size: 10em;
	font-family: finalFantasy;
	/*text-shadow: 0 0 16px rgb(82,182,148);*/
	text-shadow: 4px 4px lightgray;
}

#subheadlineLogo {
	margin: 0 auto;
	width: 90%;
	text-align: center;
	font-family: finalFantasy;
	font-size: 4em;
	margin-top: -45px;
	/*text-shadow: 0 0 16px rgb(82,182,148);*/
	text-shadow: 4px 4px lightgray;
}

#pressEnter{
	font-size: 1.2em;
	margin: 0 auto;
	width: 600px;
	text-align: center;
	margin-top: 3vh;
	font-family: pirulen;
}

#subEnter {
	font-size: 0.7em;
	margin: 0 auto;
	width: 600px;
	text-align: center;
	/*margin-top: 5px;*/
	color: lightgray;
	font-family: pirulen;
}

#skipScreen {
	position: absolute;
	top: 95vh;
	right: 5em;
	color: lightgray;
	font-size: 0.7em;
	font-family: pirulen;
}

#clickableResume a {
	text-decoration: none;
}

#clickableResume a:visited {
	color: lightgray;
}

/*Character Screen*/

#screenTwo {
	/*This is just an example image of what I want to ideally take, but of myself.*/
	background: url("http://i7.minus.com/iisQrqm02WFzE.jpg");	
	background-size: cover;
}

.banner {
	width: 100%;
	margin: 0 auto;
	height: 120px;
}

#bannerTop2nd, #bannerTop3rd {
	position: relative;
	top: 0;
	background: linear-gradient(
		rgba(255,255,255,0.95), 
		rgba(255,255,255,0.3));
}

#characterStats {
	position: relative;
	top: 5%;
	left: 3%;
	border: 3px solid red;
	border-right: none;
	height: 200px;
	width: 500px;
}

#characterAbilties {
	position: relative;
	top: -17.5%;
	right: -67%;
	border: 3px solid red;
	border-left: none;
	height: 70vh;
	width: 500px;
}

/*Battle Log*/

#screenThree {
	background: url("http://www.uffsite.net/images/news/ff13news/ff13-enironment-6.jpg");
	background-size: cover;
}

#carousel {
	width: 80%;
	height: 70vh;
	border: 3px solid red;
	margin: 0 auto;
	margin-top: 5vh;
}